{% extends 'main.html' %} {% block content %}
{% load static%}
<div class="room-container w-screen bg-slate-800 flex justify-center h-screen gap-6 overflow-hidden">
  <div class="room-update lg:w-[50vw] w-[90vw] mt-[30px] ">
    <div class="heading text-slate-200 lg:w-[30vw] w-[90vw] rounded-tl-lg rounded-tr-lg bg-slate-500 flex items-center lg:pl-4 pl-3 ">
      <a href="{% url 'home'%}"><img src="{%static '/images/back-arrow.svg'%}" class="lg:w-[25px] w-[20px] fill-slate-500" alt=""></a><h1 class="font-sans lg:text xl text-[17px] lg:pb-3 pb-2 lg:pt-2 pt-1 pl-3 flex items-center align-middle ">{{room.name}}</h1>
    </div>
    <div class="room-content w-[100%] bg-slate-700 pl-4 pr-4 rounded-br-lg rounded-bl-lg">
      <div class="left w-[100%] flex flex-col">
        <div class="nam mt-3 w-[100%]">
          <section class="font-sans font-semibold text-[#71c6dd] lg:text-[28px] text-[24px]">{{room.name}}</section>
        </div>
        <div class="timestamp mt-1.5 w-[100%]">
          <section class="font-sans text-[#b2bdbd] lg:text-[14px] text-[10px]" >{{room.created|timesince}} ago</section>
        </div>
        <div class="hosted mt-1.5 w-[100%]">
          <section class="font-sans text-[#b2bdbd] lg:text-[14px] text-[10px]">HOSTED BY</section>
        </div>
        <div class="user flex  lg:mt-1.5 mt-2 w-[100%]">
          <a href="{% url 'user-profile' room.host.id %}"><img src="{%static '/images/user_profile.svg'%}" alt="" class="w-[30px] h-[30px] rounded-full border-[#42c5ed] border-2 "></a>
          <a href="{% url 'user-profile' room.host.id %}"><section class="text-[16px] flex items-center pl-3 font-sans font-semibold text-[#42c5ed]">@{{room.host.username}}</section></a>
        </div>
        <div class="message-box lg:mt-3 mt-2  w-[100%] flex justify-center ">
          <div class="messagess w-[100%] rounded-lg mb-3 p-5 bg-slate-800 max-h-[45vh] overflow-scroll">
            {%for msg in room_msgs %}
            <div class="msg border-l-2 border-slate-500 lg:py-2 py-1  lg:my-3 my-2 ">
              <section class="font-sans text-[#b2bdbd] lg:text-[14px] text-[12px] lg:ml-5 ml-2 flex items-center">
                <section class="font-sans font-semibold text-[#42c5ed] lg:text-[15px] text-[13px] ml-3  flex items-center gap-2"><a href="{%url 'user-profile' msg.user.id%}" class="flex items-center gap-2 lg:w-[7.5vw] w-[25vw]"><img src="{%static '/images/user_profile.svg'%}" alt="" class="lg:w-[30px] lg:h-[30px] w-[25px] rounded-full border-[#42c5ed] border-2 ">@{{msg.user.username}}</a></section><p class="ml-2">{{msg.body}}</p>
              </section>
            </div>
            {%endfor%}
          </div>
        </div>
        <div class="write-msg my-3 mt-1">
          <form action="" method="POST" class="flex">
            {%csrf_token%}
            <input type="text" name="msg" id="" class="w-[90%] rounded-tl-lg rounded-bl-lg  bg-slate-400 ">
            <button class="font-sans font-semibold text-[#42c5ed] text-[15px] lg:w-[10%] w-[20%] rounded-tr-lg rounded-br-lg bg-slate-800">Send</button>
          </form>
        </div>
      </div>
    </div>
    
  </div>
  <div class="participants w-[20vw] mt-[30px] lg:flex hidden ">
    <div class="right w-[100%]">
      <div class="head w-[100%] flex justify-center font-sans pb-2 pt-2 text-slate-200 text-[27px]  rounded-tl-lg rounded-tr-lg bg-slate-500 items-center pl-4">
        <small>Participant</small><small class="text-[19px] flex items-center  text-[#42c5ed]">(Joined {{participants.count}})</small>
      </div>
      <div class="users h-screen overflow-scroll rounded-br-lg rounded-bl-lg">
        {%for user in participants%}
        <div class="user flex w-[100%] bg-slate-700 pl-4 pr-4  text-[#42c5ed] text-[18px] font-sans font-semibold py-4 ">
          <img src="{%static '/images/user_profile.svg'%}" alt="" class="w-[30px] h-[30px] rounded-full border-[#42c5ed] border-2 mr-2">@{{user}}
        </div>
        {%endfor%}
      </div>
    </div>
  </div>
</div>
{% endblock content %}
